<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html">

    <div class="container" layout:fragment="page-content">
        <div class="container">
            <div class="row mt-3">
                <form th:action="@{'/main/upload-file'}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="form-label" style="font-weight: bold">НАЗВАНИЕ ТОВАРА:</label>
                        <input type="hidden" name="id" id="itemIdInp" th:value="${itemDetails.getId()}">
                        <input type="text" class="form-control" name="name" id="itemNameInp"
                               th:value="${itemDetails.getName()}">
                    </div>
                    <div class="form-group">
                        <label class="form-label" style="font-weight: bold">КАТЕГОРИЯ:</label>
                        <select class="form-control" name="category" id="itemCategoryInp">
                            <option th:each="category:${categoriesList}" th:text="${category.name}"
                                    th:value="${category.id}"
                                    th:selected="${category.id == itemDetails.getCategory().getId()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label" style="font-weight: bold">ОПИСАНИЕ:</label>
                        <textarea type="text" class="form-control" name="description" id="itemDescriptionInp"
                                  th:text="${itemDetails.getDescription()}"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-label" style="font-weight: bold">ЦЕНА:</label>
                        <input type="number" class="form-control" name="price" id="itemPriceInp"
                               th:value="${itemDetails.getPrice()}">
                    </div>
                    <div class="form-group">
                        <label class="form-label" style="font-weight: bold">СКИДКА (%):</label>
                        <input type="number" class="form-control" name="discount" id="itemDiscountInp"
                               th:value="${itemDetails.getDiscount()}">
                    </div>
                    <div class="form-group">
                        <label class="form-label" style="font-weight: bold">РЕЙТИНГ:</label>
                        <input type="number" class="form-control" name="rating" id="itemRatingInp" min="1" max="5"
                               th:value="${itemDetails.getRating()}">
                    </div>
                    <div class="form-group">
                        <label class="form-label" style="font-weight: bold">КОЛИЧЕСТВО:</label>
                        <input type="number" class="form-control" name="quantity" id="itemQuantityInp"
                               th:value="${itemDetails.getQuantity()}">
                    </div>
                    <input type="hidden" class="form-control" name="itemId" th:value="${itemDetails.getId()}">
                    <div class="form-group">
                        <label class="form-label" style="font-weight: bold">ЗАГРУЗИТЬ ФАЙЛ:</label>
                        <input type="file" class="form-control" name="photo">
                    </div>
                    <p></p>
                    <div class="form-group">
                        <button class="btn btn-success" onclick="updatePut()">ОБНОВИТЬ</button>
                        <button class="btn btn-danger" onclick="deletePost()">УДАЛИТЬ</button>
                    </div>
                </form>
            </div>
        </div>
        <p></p>
        <div class="container">
            <div class="row target">
            </div>
        </div>
<!--AJAX-GET-->
        <script>
            loadContent();
            function loadContent() {
                const request = new XMLHttpRequest();
                request.onreadystatechange = function () {
                    if (this.readyState === request.DONE && this.status == 200) {
                        let commentsList = JSON.parse(request.responseText);
                        const target = document.querySelector('.target');
                        for (let i = 0; i < commentsList.length; i++) {
                            let htmlCode = "";
                            htmlCode = htmlCode + "<div class='card mt-3 target'>";
                            htmlCode = htmlCode + "<input type='hidden' value='" + commentsList[i].id + "' " +
                                "id='commentIdInp' class='card mt-3'>";
                            htmlCode = htmlCode + "<h6 class='card-title'>" + commentsList[i].author + "</h6>";
                            htmlCode = htmlCode + "<p class='card-text'>" + commentsList[i].text + "</p>";
                            htmlCode = htmlCode + "<p class='card-text' style='font-size: small'>" +
                                commentsList[i].date + "</p>";
                            htmlCode = htmlCode + "<button class='btn btn-danger btn-sm mt-auto' " +
                                "onclick='deleteComment(event)' style='width: 150px'>" + 'УДАЛИТЬ' + "</button>";
                            htmlCode = htmlCode + "</div>";
                            let newDiv = document.createElement('div');
                            newDiv.innerHTML = htmlCode;
                            newDiv.classList.add('col-md-12')
                            target.append(newDiv);
                        }
                    }
                };
                request.open("GET", "/comment/" + itemIdInp.value);
                request.send();
            }
        </script>
<!--AJAX-DELETE-ONE-COMMENT-->
        <script>
            function deleteComment(event) {
                const request = new XMLHttpRequest();
                request.onreadystatechange = function () {
                    if (this.readyState === request.DONE && this.status == 200) {
                        window.location.href="/main/details/" + itemIdInp.value;
                    }
                };
                const commentId = event.target.closest('.target').querySelector("#commentIdInp");
                var csrfToken = document.querySelector('meta[name="_csrf"]').content;
                var csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;
                request.open("DELETE", "/comment/exact/" + commentId.value);
                request.setRequestHeader(csrfHeader, csrfToken);
                request.send();
            }
        </script>
<!--AJAX-DELETE-->
        <script>
            function deletePost() {
                const request1 = new XMLHttpRequest();
                const request2 = new XMLHttpRequest();
                request1.onreadystatechange = function () {
                    if (this.readyState === request1.DONE && this.status === 200) {
                    }
                };
                request2.onreadystatechange = function () {
                    if (this.readyState === request2.DONE && this.status === 200) {
                        window.location.href="/main/home";
                    }
                };
                var csrfToken = document.querySelector('meta[name="_csrf"]').content;
                var csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;
                request1.open("DELETE", "/comment/" + itemIdInp.value);
                request1.setRequestHeader(csrfHeader, csrfToken);
                request1.send();
                request2.open("DELETE", "/api/" + itemIdInp.value);
                request2.setRequestHeader(csrfHeader, csrfToken);
                request2.send();
            }
        </script>
<!--AJAX-PUT-->
        <script>
            function updatePut() {
                const request = new XMLHttpRequest();
                request.onreadystatechange = function () {
                    if (this.readyState === request.DONE && this.status == 200) {
                        window.location.href = "/main/details/" + itemIdInp.value;
                        alert("Данные о товаре успешно обновлены");
                    }
                };
                var csrfToken = document.querySelector('meta[name="_csrf"]').content;
                var csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;
                let requestBody = {
                    "id" : itemIdInp.value,
                    "name": itemNameInp.value,
                    "category" : {"id" : itemCategoryInp.value},
                    "description": itemDescriptionInp.value,
                    "price": itemPriceInp.value,
                    "discount": itemDiscountInp.value,
                    "rating": itemRatingInp.value,
                    "quantity": itemQuantityInp.value};
                request.open("PUT", "/api");
                request.setRequestHeader(csrfHeader, csrfToken);
                request.setRequestHeader("Content-Type", "application/json;charset=UTF-8")
                request.send(JSON.stringify(requestBody));
            }
        </script>
    </div>
</html>
