<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html">

    <div class="row" layout:fragment="page-content">
        <div class="container">
            <div class="row">
                <p></p>
                <div class="form-group">
                    <input type="hidden" th:value="${#authentication.principal.email}" name="email">
                    <label class="form-label" style="font-weight: bold">ИМЯ ПОЛЬЗОВАТЕЛЯ:</label>
                    <p th:text="${#authentication.principal.fullName}"></p>
                </div>
                <div class="form-group">
                    <label class="form-label" style="font-weight: bold">EMAIL:</label>
                    <p th:text="${#authentication.principal.email}"></p>
                </div>
                <p></p>
                <div class="form-group">
                    <a class="btn btn-primary" th:href="@{'/main/change-password'}">СМЕНИТЬ ПАРОЛЬ</a>
                </div>
                <p></p>
                <form th:action="@{'/logout'}" method="post">
                    <button class="btn btn-danger">ВЫЙТИ</button>
                </form>
            </div>
        </div>
    </div>
</html>